version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: employees-db
    environment:
      POSTGRES_DB: employeesdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  backend:
    build:
      context: ../backend
    container_name: employees-backend
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/employeesdb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    depends_on:
      - db
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ../frontend
    container_name: employees-frontend
    depends_on:
      - backend
    ports:
      - "3000:80"

volumes:
  db-data:

