spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/employeesdb
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  sql:
    init:
      mode: never

server:
  port: 8080

